body {
    margin: 0;
    font-family: 'Georgia', serif;
   background-image: url(ngalx2.jpeg),url(ngalx2.jpeg);
    background-blend-mode:overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:#461b08;
}
.contact-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    /* flex-wrap: wrap; */
}
p,h1{
    text-align: center;
}
p{
    font-size: 25px;
    font-weight: 800;
}
h1{
    font-size: 50px;
    font-weight: 1000;
}
.contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
}
::placeholder, select{
    color: black;
    font-size: 12px;
}
.contact-form button {
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #a0522d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #e0c097;
    color: black;
}

/* Media queries pour la responsivité */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 18px;
    }
    .contact-form {
        width: 90%;
        max-width: 300px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }
    p {
        font-size: 16px;
    }
    .contact-form input,
    .contact-form textarea,
    .contact-form select {
        padding: 8px;
        font-size: 14px;
    }
    .contact-form button {
        padding: 10px;
    }
}
